<!DOCTYPE html>
<html lang="en">

<head>
    <title>Random Quotes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <div class="container-fluid d-flex h-100 w-100">
        <div class="card w-50 mx-auto my-auto">
            <div class="card-header">Quote</div>
            <div class="card-body text-center">
                <blockquote id="blockQuote" class="blockquote mb-0">
                    <p id="quote"></p>
                    <footer id="author" class="blockquote-footer text-right">
                        <cite title="Soutce Title">
                            <a href="https://market.mashape.com/andruxnet/random-famous-quotes"></a>
                        </cite>
                    </footer>
                </blockquote>
            </div>
            <div class="card-footer text-muted">
                <a id="twitter-share-button">
                </a>
                <button id="newQuote" type="button" class="btn btn-sm btn-primary float-right">New Quote</button>
            </div>
        </div>
    </div>
    <script>
        window.twttr = (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));
    </script>
</body>

</html>