@import "~bootstrap/scss/bootstrap";
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.container-fluid {
    position: absolute;
}

.btn {
    cursor: pointer;
}

.fade-in {
    opacity: 0;
    animation: fadeIn .8s ease-in 1 forwards;
}

.fade-out {
    opacity: 1;
    animation: fadeOut .3s ease-out 1 forwards;
}

.is-paused {
    animation-play-state: paused;
}